.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
}

.task-title{
    cursor: pointer;
}

.buttons-container{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.task-title{
    cursor: pointer;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

.remove-task-button, .see-task-details-button{
    background-color: #444;
    border: none;
    font-size: 22px;
    color: #f35e5e;
    cursor: pointer;
    margin: 0 5px;
}
